
# Backend (Python)
__pycache__/
alembic/
venv/
*.pyc
google-credentials.json
google-credentials_for_ocr.json
travel_app.db
alembic.ini
.env

# Frontend (JavaScript)
node_modules/

# IDE/System Files
.vscode/



